<div class="card border border-0 flex-row" style="width:100%">
  <div style="width35%">
    <img class="card-img-top" src="{{image_url}}">
  </div>
  <div>
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{tagline}}</p>
  </div>
</div>